<div class="item--list">
  {{#md-card-collapsible}}
    {{#each model as |item|}}
      {{#if item.isRepository}}
        {{list-item-repository item=item launchPipeline=(action launchPipeline)}}
      {{else if item.isStack}}
        todo stack
      {{/if}}
    {{/each}}

    {{#md-collapsible icon="add" title="Create new repository" }}
      <div class="create-selector">
        {{#md-radios
            selection=isRepository}}
            {{md-radio value=true name="Repository"}}
            {{md-radio value=false name="Stack"}}
        {{/md-radios}}
      </div>
      <div class="create">
        {{#if isRepository}}
          {{repository-creator}}
        {{else}}
          {{stack-creator}}
        {{/if}}
      </div>
    {{/md-collapsible}}
  {{/md-card-collapsible}}

</div>
