{{#md-collapsible icon=item title=item.title}}
  {{#if editing}}
    {{repository-manager model=item edit=(action 'edit')}}
  {{else}}
    <div class="row">
      This repsitory is located at <a href= {{item.location}} target="_blank">{{item.location}}</a>. It has {{item.numberOfPipelines}} connected pipelines.
    </div>
    <div class="row actions">
      {{md-btn text="edit" action="edit"}}
      <div class="btn" {{action "launchPipeline" item}}>Launch</div>
    </div>
  {{/if}}
{{/md-collapsible}}
