<div class="collapsible-header {{if active 'active'}}" {{action "headerClicked"}}>
  {{#if icon}}
    {{smart-icon model=icon}}
  {{/if}}

  {{title}}
</div>

<div class="collapsible-body">
  <p>{{yield}}</p>
</div>
