<div class="service">
  <div class="row">
    <div class="col s3">
      {{service.name}}
    </div>
    <div class="col s6 line-input">
      {{md-btn class="btn secondary" action='decreaseServiceScaling' isDisabled=disableScaling text=" - "}}
      {{service.scaling}}
      {{md-btn class="btn secondary" action='increaseServiceScaling' isDisabled=disableScaling text=" + "}}
    </div>
    <div class="col s3 line-input">
      {{#if service.restarting}}
        Restarting...
      {{else}}
        {{md-btn class="btn secondary" action='restartService' isDisabled=disableScaling text="restart"}}
      {{/if}}
        <div class="btn secondary" {{action "toggleLogs"}}><i class="material-icons">bug_report</i></div>
    </div>
  </div>
  {{#if service.showLogs}}
    <div class="log-container">
      <div class="btn" {{action "refreshLogs"}}>
        {{#if service.refreshingLogs}}...{{else}}<i class="material-icons">refresh</i>{{/if}}
      </div>
      <div class="logs">
        {{service.logs}}
      </div>
    </div>
  {{/if}}
</div>
