{{#if model}}
  <div class="pipeline--list">
    {{#md-card-collapsible}}
      {{#each model as |pipeline|}}
        {{#md-collapsible icon=pipeline title=pipeline.title}}
          {{#if editable}}
            {{pipeline-manager pipeline=pipeline}}
          {{else}}
            {{pipeline-list-item pipeline=pipeline}}
          {{/if}}
          {{!-- <div class="row">
            <button type="button" class='btn' name="button" {{action 'manage'}}> {{manageButtonText}}</button>
          </div> --}}
        {{/md-collapsible}}
      {{/each}}
    {{/md-card-collapsible}}
  </div>
{{else}}
  {{#md-card-panel}}
    There are no pipelines yet. Launch one in the
    {{#link-to 'list'}}repositories and stacks {{/link-to}}
    section!
  {{/md-card-panel}}
{{/if}}
