<div class="repository--list">
  {{#md-card-collapsible}}
    {{#each model as |repository|}}
      {{#md-collapsible icon=repository title=repository.title}}
        {{#if editing}}
          {{repository-manager model=repository edit=(action 'edit')}}
        {{else}}
          <div class="row">
            Located at <a href= {{repository.location}} target="_blank">{{repository.location}}</a>. Has {{repository.pipelineInstances.length}} connected pipelines.
          </div>
          <div class="row actions"> {{md-btn text="edit" action="edit"}}
            <div class="btn" {{action "launchPipeline" repository}}>Launch</div>
          </div>
        {{/if}}
      {{/md-collapsible}}
    {{/each}}

    {{#md-collapsible icon="add" title="Create new repository" }}
      <div class="create">
        <div class= {{inputRequiredTitleCssClasses}}>
          {{md-input label="Name of repository" value=repositoryTitle}}
        </div>
        <div class= {{inputRequiredLocationCssClasses}}>
          {{md-input label="Git web URL for a repository with a docker-compose.yml file" value=repositoryLocation}}
        </div>
        {{smart-icon editing=true model=repositoryIcon}}
        {{md-btn text="Create" action="create"}}
        {{md-btn text="Clear" action="clear"}}
      </div>
    {{/md-collapsible}}
  {{/md-card-collapsible}}

</div>
