<div class="repositories--show">
  <div class= {{inputRequiredTitleCssClasses}}>
    {{md-input label="Name of repository" value=model.title}}
  </div>
  {{smart-icon model=model editing=true}}
  <div class= {{inputRequiredLocationCssClasses}}>
    {{md-input label="Git web URL for a repository with a docker-compose.yml file" value=model.location}}
  </div>
  {{md-btn text="Update" action="save"}}
  {{md-btn text="Cancel" action="cancel"}}
  <div class="delete">
    <div class="btn delete" {{action "confirmDeletion"}} title='delete forever'><i class="material-icons">delete_forever</i></div>
  </div>

</div>

{{#if showDialog}}
  {{confirmation-dialog buttonText='Delete' text="Delete this repository?" closeDialog=(action 'closeDialog') action='delete' delete=(action 'delete')}}
{{/if}}
