{{#if editing}}
  <div class="container">
    {{md-input label="Title" value=model.title}}
    {{md-input label="Clone url" value=model.location}}
    {{smart-icon model=model editing=true}}
    {{md-btn text="Update" action="save"}}
  </div>
  {{else}}
  <div class="container">
    <h3>{{model.title}}</h3>
    <div class="row">
      Located at {{model.location}}
    </div>
    <div class="row">
      Icon: {{smart-icon model=model}}
    </div>
    <div class="row">
      {{md-btn text="edit" action="edit"}}
    </div>
  </div>
{{/if}}