<div class="service">
  <div class="row">
    <div class="col s2">
      {{service.name}} / <strong>{{service.status.title}}</strong>
    </div>

    {{!-- Scaling buttons --}}
    <div class="col s3 line-input">
      {{md-btn class="btn secondary" action='decreaseServiceScaling' isDisabled=disableScalingButton text=" - "}}
      {{service.scaling}}
      {{md-btn class="btn secondary" action='increaseServiceScaling' isDisabled=disableScalingButton text=" + "}}
    </div>

    {{!-- Single container action buttons --}}
    {{!-- Up button --}}
    {{#if advancedMode}}
      <div class="col s1 line-input">
        {{md-btn class="btn secondary" action='pipelineServiceUp' isDisabled=(or (eq (await service.status.title) 'started') (eq (await service.status.title) 'starting') (eq (await service.status.title) 'up')) text="up"}}
      </div>
    {{/if}}

    {{!-- Start button --}}
    <div class="col s1 line-input">
      {{md-btn class="btn secondary" action='pipelineServiceStart' isDisabled=(or (eq (await service.status.title) 'started') (eq (await service.status.title) 'starting') (eq (await service.status.title) 'up')) text="start"}}
    </div>

    {{!-- Stop button --}}
    <div class="col s1 line-input">
      {{md-btn class="btn secondary" action='pipelineServiceStop' isDisabled=(and (not-eq (await service.status.title) 'started') (not-eq (await service.status.title) 'starting') (not-eq (await service.status.title) 'up')) text="stop"}}
    </div>

    {{!-- Restart button --}}
    <div class="col s3 line-input">
      {{#if service.restarting}}
        Restarting...
      {{else}}
        {{md-btn class="btn secondary" action='pipelineServiceRestart' isDisabled=disableScalingButton text="restart"}}
      {{/if}}
        <div class="btn secondary" {{action "toggleLogs"}}><i class="material-icons">bug_report</i></div>
    </div>
  </div>

  {{!-- Logging information about the container --}}
  {{#if service.showLogs}}
    <div class="log-container">
      <div class="btn" {{action "refreshLogs"}}>
        {{#if service.refreshingLogs}}...{{else}}<i class="material-icons">refresh</i>{{/if}}
      </div>
      <div class="logs">
        {{service.logs}}
      </div>
    </div>
  {{/if}}
</div>
