<div class="pipelines--show">
  <div class="container">
    {{#md-card-panel}}
      <div class="container">
        <h3>{{model.title}}</h3>
      </div>

      <div class="container actions">
        <div class="row status">
          This pipeline is currently {{model.status.title}}.
          {{#if model.requestedStatus}}
            {{#if (not-eq model.status.title model.requestedStatus.title)}}
              The requested status is {{model.requestedStatus.title}}.
            {{/if}}
          {{/if}}
        </div>

        <div class="row">
          {{md-btn text="up" action="swarmUp"}}
          {{md-btn text="stop" action="swarmStop"}}
          {{md-btn text="down" action="swarmDown"}}
          <div class="delete">
            <div class="btn delete" {{action "confirmDeletion"}} title='delete forever'>
              <i class="material-icons">delete_forever</i></div>
          </div>
        </div>
        {{#if model.actionCount}}
          <div class="row">
            {{model.actionCount}} actions pending...
          </div>
        {{/if}}
      </div>

      <div class="services">
        <h4>Services</h4>
        {{#each model.services as |service|}}
          {{pipeline-service service=service}}
        {{/each}}
      </div>
    {{/md-card-panel}}
  </div>
</div>

{{#if showDialog}}
  {{confirmation-dialog buttonText='Delete' text="Delete this pipeline?" closeDialog=(action 'closeDialog') action='delete' delete=(action 'delete')}}
{{/if}}
