<div class="pipelines--show">
  <div class="container">
    <h3>{{model.title}}</h3>
  </div>

  <div class="container actions">
    <div class="row">
      This pipeline is currently {{model.status.title}}.
      {{#if model.requestedStatus}}
        {{#if (not-eq model.status.title model.requestedStatus.title)}}
          The requested status is {{model.requestedStatus.title}}.
        {{/if}}
      {{/if}}
    </div>

    <div class="row">
      Operations:
      {{md-btn text="up" action="swarmUp"}}
      {{md-btn text="stop" action="swarmStop"}}
      {{md-btn text="down" action="swarmDown"}}
    </div>
    {{#if model.actionCount}}
      <div class="row">
        {{model.actionCount}} actions pending...
      </div>
    {{/if}}
  </div>

  <div class="container">
    <h4>Services</h4>
    {{#each model.services as |service|}}
      <div class="row">
        <div class="col s3">
          {{service.name}}
        </div>
        <div class="col s6 line-input">
          <div class="btn secondary" {{action "decreaseServiceScaling" service}}> - </div>
          {{service.targetScaling}}
          <div class="btn secondary" {{action "increaseServiceScaling" service}}> + </div>
          {{#if service.changingScaling}}(updating){{/if}}
        </div>
        <div class="col s3 line-input">
          {{#if service.restarting}}
            Restarting...
          {{else}}
            <div class="btn secondary" {{action "restartService" service}}>restart</div>
          {{/if}}
          <div class="btn secondary" {{action "toggleLogs" service}}><i class="material-icons">bug_report</i></div>
        </div>
      </div>
      {{#if service.showLogs}}
        <div class="log-container">
          <div class="btn" {{action "refreshLogs" service}}>
            {{#if service.refreshingLogs}}...{{else}}<i class="material-icons">refresh</i>{{/if}}
          </div>
          <div class="logs">
            {{service.logs}}
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>

</div>
